header
    .container
        button.burger-button 
        h2.logo English4kids
        .game-checkbox
            input(
                type='checkbox'
            ).check
            label(for="").swichOn Train
            label(for="").swichOff Play
    #nav
        ul.burger_menu
            li 
                a.burger_menu-line(href='#main') Main page
            li 
                a.burger_menu-line(href='#actionA') Action (set A)
            li
                a.burger_menu-line(href='#actionB') Action (set B)
            li
                a.burger_menu-line(href='#animalA') Animal (set A)
            li
                a.burger_menu-line(href='#animalB') Animal (set B)
            li
                a.burger_menu-line(href='#clothes') Clothes
            li
                a.burger_menu-line(href='#emotions') Emotions
            li
                a.burger_menu-line(href='#food') Food
            li
                a.burger_menu-line(href='#fruits') Fruits