header
    .container.header
        button.burger-button 
        #nav
            .burger_menu
                .burger_menu-line
                .burger_menu-line
                .burger_menu-line
            //- ul.navigation
                - var nav = SITE.nav
                each link in nav 
                    li.navigation-item
                        a.navigation-link(href=link.href)  !{link.text}
        .logo English4kids
        .gameMod
            .check
