$trainBG: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
$playBG: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
$cardsBG: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
$headerBD: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);